In [18]:
# Dependencies
import pandas as pd
import pycountry

from sqlalchemy import create_engine
from params import password

## Load data from URL

In [19]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_traffic-related_death_rate"

traffic_deaths = pd.read_html(url, skiprows=range(1,8))[1]
traffic_deaths.set_index("Country", inplace=True)
traffic_deaths.head()

,Continent,"Road fatalitiesper 100,000inhabitantsper year[5][2]","Road fatalitiesper 100,000motor vehicles[5][2]",Road fatalitiesper 1 billionvehicle-km[6],Total fatalitieslatest year(adjusted/estimatedfigures by WHO report)[5][2],"Year, data source(standard source:The WHO report 2015,[3]data from 2013The WHO report 2018,[2]data from 2016)"
Country,,,,,,
Afghanistan,Asia,15.5,722.4,NaN,4734,2013
Albania,Europe,13.6,107.2,NaN,399,2018
Algeria,Africa,23.8,127.8,NaN,9337,2013
Andorra,Europe,7.6,7.9,NaN,6,2013
Angola,Africa,26.9,992,NaN,5769,2013

In [20]:
# Create lists for country name and codes
name_list = []
country_codes = []
for country in pycountry.countries:
    name_list.append(country.name)
    country_codes.append(country.numeric)

# Return mismatching index from DF
for row, value in traffic_deaths.iterrows():
    if row not in name_list:
        print("ERROR: " + row)

ERROR: Bolivia
ERROR: Cape Verde
ERROR: Czech Republic
ERROR: Democratic Republic of the Congo
ERROR: Iran
ERROR: Ivory Coast
ERROR: Laos
ERROR: Federated States of Micronesia
ERROR: Republic of Moldova
ERROR: Russia
ERROR: São Tomé and Príncipe
ERROR: South Korea
ERROR: Swaziland
ERROR: Taiwan
ERROR: Tanzania
ERROR: Vietnam

In [21]:
# Rename values
traffic_deaths.rename(index={
    "Bolivia": "Bolivia, Plurinational State of",
    "Cape Verde": "Cabo Verde",
    "Czech Republic": "Czechia",
    "Democratic Republic of the Congo": "Congo, The Democratic Republic of the",
    "Iran": "Iran, Islamic Republic of",
    "Ivory Coast": "Côte d'Ivoire",
    "Laos": "Lao People's Democratic Republic",
    "Federated States of Micronesia": "Micronesia, Federated States of",
    "Republic of Moldova": "Moldova, Republic of",
    "Russia": "Russian Federation",
    "São Tomé and Príncipe": "Sao Tome and Principe",
    "South Korea": "Korea, Republic of",
    "Swaziland": "Eswatini",
    "Taiwan": "Taiwan, Province of China",
    "Tanzania": "Tanzania, United Republic of",
    "Vietnam": "Viet Nam"
}, inplace=True)

In [22]:
# Create dict for countries
country_dict = dict(zip(name_list, country_codes))

In [23]:
# Create column to add to DF
new_col=[]
# Loop through indexes and get country_id
for row, value in traffic_deaths.iterrows():
    if row in country_dict:
        new_col.append(country_dict[row])
traffic_deaths['country_id'] = new_col
traffic_deaths.reset_index(inplace=True)
traffic_deaths

,Country,Continent,"Road fatalitiesper 100,000inhabitantsper year[5][2]","Road fatalitiesper 100,000motor vehicles[5][2]",Road fatalitiesper 1 billionvehicle-km[6],Total fatalitieslatest year(adjusted/estimatedfigures by WHO report)[5][2],"Year, data source(standard source:The WHO report 2015,[3]data from 2013The WHO report 2018,[2]data from 2016)",country_id
0,Afghanistan,Asia,15.5,722.4,NaN,4734,2013,004
1,Albania,Europe,13.6,107.2,NaN,399,2018,008
2,Algeria,Africa,23.8,127.8,NaN,9337,2013,012
3,Andorra,Europe,7.6,7.9,NaN,6,2013,020
4,Angola,Africa,26.9,992,NaN,5769,2013,024
...,...,...,...,...,...,...,...,...
176,Vanuatu,Oceania,16.6,300,NaN,42,2013,548
177,Viet Nam,Asia,24.5,55,NaN,22419,2013,704
178,Yemen,Asia,21.5,436.6,NaN,5248,2013,887
179,Zambia,Africa,24.7,670.9,NaN,3586,2013,894
180,Zimbabwe,Africa,28.2,429.8,NaN,3985,2013,716

In [24]:
traffic_deaths.drop(['Continent', 'Road fatalitiesper 1 billionvehicle-km[6]', 'Total fatalitieslatest year(adjusted/estimatedfigures by WHO report)[5][2]'], axis=1, inplace=True)

In [25]:
traffic_deaths.rename(columns={
    'Country': 'country_name',
    'Road fatalitiesper 100,000inhabitantsper year[5][2]': 'fatalaties_100K_people_per_year',
    'Road fatalitiesper 100,000motor vehicles[5][2]': 'fatalities_100K_mv_per_year',
    'Year, data source(standard source:The WHO report 2015,[3]data from 2013The WHO report 2018,[2]data from 2016)': 'year'
}, inplace=True)

In [26]:
traffic_deaths.set_index('country_id', inplace=True)

In [27]:
traffic_deaths.drop('country_name', axis=1, inplace=True)

In [40]:
fatal_mv = traffic_deaths['fatalities_100K_mv_per_year'].str.split('[', n=1, expand=True)[0]
traffic_deaths.drop('fatalities_100K_mv_per_year', axis=1, inplace=True)
traffic_deaths['fatalities_100K_mv_per_year'] = fatal_mv
traffic_deaths

           fatalaties_100K_people_per_year  year fatalities_100K_mv_per_year
country_id
004                                   15.5  2013                       722.4
008                                   13.6  2018                       107.2
012                                   23.8  2013                       127.8
020                                    7.6  2013                         7.9
024                                   26.9  2013                         992
...                                    ...   ...                         ...
548                                   16.6  2013                         300
704                                   24.5  2013                          55
887                                   21.5  2013                       436.6
894                                   24.7  2013                       670.9
716                                   28.2  2013                       429.8

[181 rows x 3 columns]

In [41]:
fatal_people = traffic_deaths['fatalaties_100K_people_per_year'].str.split('[', n=1, expand=True)[0]
traffic_deaths.drop('fatalaties_100K_people_per_year', axis=1, inplace=True)
traffic_deaths['fatalaties_100K_people_per_year'] = fatal_people
traffic_deaths

            year fatalities_100K_mv_per_year fatalaties_100K_people_per_year
country_id
004         2013                       722.4                            15.5
008         2018                       107.2                            13.6
012         2013                       127.8                            23.8
020         2013                         7.9                             7.6
024         2013                         992                            26.9
...          ...                         ...                             ...
548         2013                         300                            16.6
704         2013                          55                            24.5
887         2013                       436.6                            21.5
894         2013                       670.9                            24.7
716         2013                       429.8                            28.2

[181 rows x 3 columns]

In [42]:
year = traffic_deaths['year'].str.split('[', n=1, expand=True)[0]
traffic_deaths.drop('year', axis=1, inplace=True)
traffic_deaths['year'] = year
traffic_deaths

           fatalities_100K_mv_per_year fatalaties_100K_people_per_year  year
country_id
004                              722.4                            15.5  2013
008                              107.2                            13.6  2018
012                              127.8                            23.8  2013
020                                7.9                             7.6  2013
024                                992                            26.9  2013
...                                ...                             ...   ...
548                                300                            16.6  2013
704                                 55                            24.5  2013
887                              436.6                            21.5  2013
894                              670.9                            24.7  2013
716                              429.8                            28.2  2013

[181 rows x 3 columns]

In [ ]:
fatal_people = traffic_deaths['fatalaties_100K_people_per_year'].str.split('[', n=1, expand=True)[0]
traffic_deaths.drop('fatalaties_100K_people_per_year', axis=1, inplace=True)
traffic_deaths['fatalaties_100K_people_per_year'] = fatal_people
traffic_deaths

In [33]:
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/mad_data_db')

In [34]:
engine.table_names()

['Country',
 'Alcohol_Consumption',
 'Alcohol_Production',
 'Reviews',
 'Traffic_Related_Deaths']

In [43]:
traffic_deaths.to_sql(name='Traffic_Related_Deaths', con=engine, if_exists='append')