In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# Data Extraction
alcohol_consumption_df = pd.read_csv('resources/alcohol_consumption.csv', skiprows=1)
alcohol_consumption_df.head()

       Country  Year     Both sexes            Male         Female
0  Afghanistan  2016  0.2 [0.2-0.2]   0.4 [0.4-0.4]        0 [0-0]
1  Afghanistan  2010  0.2 [0.2-0.3]   0.4 [0.4-0.5]        0 [0-0]
2      Albania  2016  7.5 [7.1-7.8]  12.5 [12-13.1]  2.6 [2.5-2.7]
3      Albania  2010  7.9 [7.6-8.2]  13 [12.4-13.5]    2.8 [2.7-3]
4      Algeria  2016    0.9 [0.9-1]   1.7 [1.6-1.7]  0.2 [0.2-0.2]

In [10]:
# Data Transformation

In [ ]:
# Data Load
# rds_connection_string = "<username>:<password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')