In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Data Extraction
alcohol_consumption_df = pd.read_csv('resources/alcohol_consumption.csv', skiprows=1)
alcohol_consumption_df.head()

       Country  Year     Both sexes            Male         Female
0  Afghanistan  2016  0.2 [0.2-0.2]   0.4 [0.4-0.4]        0 [0-0]
1  Afghanistan  2010  0.2 [0.2-0.3]   0.4 [0.4-0.5]        0 [0-0]
2      Albania  2016  7.5 [7.1-7.8]  12.5 [12-13.1]  2.6 [2.5-2.7]
3      Albania  2010  7.9 [7.6-8.2]  13 [12.4-13.5]    2.8 [2.7-3]
4      Algeria  2016    0.9 [0.9-1]   1.7 [1.6-1.7]  0.2 [0.2-0.2]

In [7]:
alcohol_copy_df = alcohol_consumption_df.copy()
alcohol_copy_df = alcohol_copy_df.rename(columns={"Both sexes": "Both_Sexes"})
alcohol_copy_df.head()

       Country  Year     Both_Sexes            Male         Female
0  Afghanistan  2016  0.2 [0.2-0.2]   0.4 [0.4-0.4]        0 [0-0]
1  Afghanistan  2010  0.2 [0.2-0.3]   0.4 [0.4-0.5]        0 [0-0]
2      Albania  2016  7.5 [7.1-7.8]  12.5 [12-13.1]  2.6 [2.5-2.7]
3      Albania  2010  7.9 [7.6-8.2]  13 [12.4-13.5]    2.8 [2.7-3]
4      Algeria  2016    0.9 [0.9-1]   1.7 [1.6-1.7]  0.2 [0.2-0.2]

In [4]:
# Data Transformation
rate_men = alcohol_copy_df['Male'].to_list()

rate_men_clean = []

for rate in rate_men:
    rate = rate.split(" ")
    rate_men_clean.append(rate[0])

# rate_men_clean

In [5]:
rate_women = alcohol_copy_df['Female'].to_list()

rate_women_clean = []

for rate in rate_women:
    rate = rate.split(" ")
    rate_women_clean.append(rate[0])
    
# rate_women_clean

In [8]:
rate_both_sexes = alcohol_copy_df['Both_Sexes'].to_list()

rate_both_clean = []

for rate in rate_both_sexes:
    rate = rate.split(" ")
    rate_both_clean.append(rate[0])

# rate_both_clean

In [9]:
countries = alcohol_copy_df['Country']
years = alcohol_copy_df['Year']

# print(countries)
# print(years)

In [10]:
# create clean/transformed dataframe
alcohol_consumption_clean_df = pd.DataFrame({"Country": countries,
                                             "Year": years,
                                             "Both_Sexes" : rate_both_clean,
                                             "Male": rate_men_clean,
                                             "Female" : rate_women_clean})

alcohol_consumption_clean_df.head()

       Country  Year Both_Sexes  Male Female
0  Afghanistan  2016        0.2   0.4      0
1  Afghanistan  2010        0.2   0.4      0
2      Albania  2016        7.5  12.5    2.6
3      Albania  2010        7.9    13    2.8
4      Algeria  2016        0.9   1.7    0.2

In [ ]:
# Data Load
# rds_connection_string = "<username>:<password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')