In [47]:
# Dependencies
import pandas as pd
import pycountry

## Load CSV file

In [48]:
reviews = pd.read_csv("resources/winemag-data-130k-v2.csv")
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [49]:
mean =reviews.groupby('country')['points'].mean()
mean.rename('mean', inplace=True)

country
Argentina                 86.710263
Armenia                   87.500000
Australia                 88.580507
Austria                   90.101345
Bosnia and Herzegovina    86.500000
Brazil                    84.673077
Bulgaria                  87.936170
Canada                    89.369650
Chile                     86.493515
China                     89.000000
Croatia                   87.219178
Cyprus                    87.181818
Czech Republic            87.250000
Egypt                     84.000000
England                   91.581081
France                    88.845109
Georgia                   87.686047
Germany                   89.851732
Greece                    87.283262
Hungary                   89.191781
India                     90.222222
Israel                    88.471287
Italy                     88.562231
Lebanon                   87.685714
Luxembourg                88.666667
Macedonia                 86.833333
Mexico                    85.257143
Moldova                   87.203390
Morocco                   88.571429
New Zealand               88.303030
Peru                      83.562500
Portugal                  88.250220
Romania                   86.400000
Serbia                    87.500000
Slovakia                  87.000000
Slovenia                  88.068966
South Africa              88.056388
Spain                     87.288337
Switzerland               88.571429
Turkey                    88.088889
US                        88.563720
Ukraine                   84.071429
Uruguay                   86.752294
Name: mean, dtype: float64

In [50]:
median = reviews.groupby('country')['points'].median()
median.rename('median', inplace=True)

country
Argentina                 87.0
Armenia                   87.5
Australia                 89.0
Austria                   90.0
Bosnia and Herzegovina    86.5
Brazil                    85.0
Bulgaria                  89.0
Canada                    90.0
Chile                     86.0
China                     89.0
Croatia                   88.0
Cyprus                    87.0
Czech Republic            88.0
Egypt                     84.0
England                   91.0
France                    89.0
Georgia                   88.0
Germany                   90.0
Greece                    87.0
Hungary                   89.0
India                     90.0
Israel                    89.0
Italy                     88.0
Lebanon                   88.0
Luxembourg                88.5
Macedonia                 87.0
Mexico                    85.0
Moldova                   88.0
Morocco                   88.5
New Zealand               88.0
Peru                      84.0
Portugal                  88.0
Romania                   86.0
Serbia                    87.5
Slovakia                  87.0
Slovenia                  88.0
South Africa              88.0
Spain                     87.0
Switzerland               89.0
Turkey                    88.0
US                        88.0
Ukraine                   84.0
Uruguay                   87.0
Name: median, dtype: float64

In [51]:
count = reviews.groupby('country')['points'].count()
count.rename('count', inplace=True)

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: count, dtype: int64

In [52]:
reviews_stats = pd.DataFrame([mean, median, count]).T
reviews_stats

                             mean  median    count
country
Argentina               86.710263    87.0   3800.0
Armenia                 87.500000    87.5      2.0
Australia               88.580507    89.0   2329.0
Austria                 90.101345    90.0   3345.0
Bosnia and Herzegovina  86.500000    86.5      2.0
Brazil                  84.673077    85.0     52.0
Bulgaria                87.936170    89.0    141.0
Canada                  89.369650    90.0    257.0
Chile                   86.493515    86.0   4472.0
China                   89.000000    89.0      1.0
Croatia                 87.219178    88.0     73.0
Cyprus                  87.181818    87.0     11.0
Czech Republic          87.250000    88.0     12.0
Egypt                   84.000000    84.0      1.0
England                 91.581081    91.0     74.0
France                  88.845109    89.0  22093.0
Georgia                 87.686047    88.0     86.0
Germany                 89.851732    90.0   2165.0
Greece                  87.283262    87.0    466.0
Hungary                 89.191781    89.0    146.0
India                   90.222222    90.0      9.0
Israel                  88.471287    89.0    505.0
Italy                   88.562231    88.0  19540.0
Lebanon                 87.685714    88.0     35.0
Luxembourg              88.666667    88.5      6.0
Macedonia               86.833333    87.0     12.0
Mexico                  85.257143    85.0     70.0
Moldova                 87.203390    88.0     59.0
Morocco                 88.571429    88.5     28.0
New Zealand             88.303030    88.0   1419.0
Peru                    83.562500    84.0     16.0
Portugal                88.250220    88.0   5691.0
Romania                 86.400000    86.0    120.0
Serbia                  87.500000    87.5     12.0
Slovakia                87.000000    87.0      1.0
Slovenia                88.068966    88.0     87.0
South Africa            88.056388    88.0   1401.0
Spain                   87.288337    87.0   6645.0
Switzerland             88.571429    89.0      7.0
Turkey                  88.088889    88.0     90.0
US                      88.563720    88.0  54504.0
Ukraine                 84.071429    84.0     14.0
Uruguay                 86.752294    87.0    109.0

In [53]:
# Create lists for country name and codes
name_list = []
country_codes = []
for country in pycountry.countries:
    name_list.append(country.name)
    country_codes.append(country.numeric)

# Return mismatching index from DF
for row, value in reviews_stats.iterrows():
    if row not in name_list:
        print("ERROR: " + row)

ERROR: Czech Republic
ERROR: England
ERROR: Macedonia
ERROR: Moldova
ERROR: US

In [54]:
# Rename values
reviews_stats.rename(index={
    "Czech Republic": "Czechia",
    "England": "United Kingdom",
    "Macedonia": "North Macedonia",
    "Moldova": "Moldova, Republic of",
    "US": "United States"
}, inplace=True)

reviews_stats

                             mean  median    count
country
Argentina               86.710263    87.0   3800.0
Armenia                 87.500000    87.5      2.0
Australia               88.580507    89.0   2329.0
Austria                 90.101345    90.0   3345.0
Bosnia and Herzegovina  86.500000    86.5      2.0
Brazil                  84.673077    85.0     52.0
Bulgaria                87.936170    89.0    141.0
Canada                  89.369650    90.0    257.0
Chile                   86.493515    86.0   4472.0
China                   89.000000    89.0      1.0
Croatia                 87.219178    88.0     73.0
Cyprus                  87.181818    87.0     11.0
Czechia                 87.250000    88.0     12.0
Egypt                   84.000000    84.0      1.0
United Kingdom          91.581081    91.0     74.0
France                  88.845109    89.0  22093.0
Georgia                 87.686047    88.0     86.0
Germany                 89.851732    90.0   2165.0
Greece                  87.283262    87.0    466.0
Hungary                 89.191781    89.0    146.0
India                   90.222222    90.0      9.0
Israel                  88.471287    89.0    505.0
Italy                   88.562231    88.0  19540.0
Lebanon                 87.685714    88.0     35.0
Luxembourg              88.666667    88.5      6.0
North Macedonia         86.833333    87.0     12.0
Mexico                  85.257143    85.0     70.0
Moldova, Republic of    87.203390    88.0     59.0
Morocco                 88.571429    88.5     28.0
New Zealand             88.303030    88.0   1419.0
Peru                    83.562500    84.0     16.0
Portugal                88.250220    88.0   5691.0
Romania                 86.400000    86.0    120.0
Serbia                  87.500000    87.5     12.0
Slovakia                87.000000    87.0      1.0
Slovenia                88.068966    88.0     87.0
South Africa            88.056388    88.0   1401.0
Spain                   87.288337    87.0   6645.0
Switzerland             88.571429    89.0      7.0
Turkey                  88.088889    88.0     90.0
United States           88.563720    88.0  54504.0
Ukraine                 84.071429    84.0     14.0
Uruguay                 86.752294    87.0    109.0

In [55]:
# Create dict for countries
country_dict = dict(zip(name_list, country_codes))

In [56]:
# Create column to add to DF
new_col=[]

# Loop through indexes and get country_id
for row, value in reviews_stats.iterrows():
    if row in country_dict:
        new_col.append(country_dict[row])

reviews_stats['country_id'] = new_col
reviews_stats.reset_index(inplace=True)

In [57]:
reviews_stats.set_index('country_id', inplace=True)
reviews_stats.rename(columns={'country': 'country_name'})

                      country_name       mean  median    count
country_id
032                      Argentina  86.710263    87.0   3800.0
051                        Armenia  87.500000    87.5      2.0
036                      Australia  88.580507    89.0   2329.0
040                        Austria  90.101345    90.0   3345.0
070         Bosnia and Herzegovina  86.500000    86.5      2.0
076                         Brazil  84.673077    85.0     52.0
100                       Bulgaria  87.936170    89.0    141.0
124                         Canada  89.369650    90.0    257.0
152                          Chile  86.493515    86.0   4472.0
156                          China  89.000000    89.0      1.0
191                        Croatia  87.219178    88.0     73.0
196                         Cyprus  87.181818    87.0     11.0
203                        Czechia  87.250000    88.0     12.0
818                          Egypt  84.000000    84.0      1.0
826                 United Kingdom  91.581081    91.0     74.0
250                         France  88.845109    89.0  22093.0
268                        Georgia  87.686047    88.0     86.0
276                        Germany  89.851732    90.0   2165.0
300                         Greece  87.283262    87.0    466.0
348                        Hungary  89.191781    89.0    146.0
356                          India  90.222222    90.0      9.0
376                         Israel  88.471287    89.0    505.0
380                          Italy  88.562231    88.0  19540.0
422                        Lebanon  87.685714    88.0     35.0
442                     Luxembourg  88.666667    88.5      6.0
807                North Macedonia  86.833333    87.0     12.0
484                         Mexico  85.257143    85.0     70.0
498           Moldova, Republic of  87.203390    88.0     59.0
504                        Morocco  88.571429    88.5     28.0
554                    New Zealand  88.303030    88.0   1419.0
604                           Peru  83.562500    84.0     16.0
620                       Portugal  88.250220    88.0   5691.0
642                        Romania  86.400000    86.0    120.0
688                         Serbia  87.500000    87.5     12.0
703                       Slovakia  87.000000    87.0      1.0
705                       Slovenia  88.068966    88.0     87.0
710                   South Africa  88.056388    88.0   1401.0
724                          Spain  87.288337    87.0   6645.0
756                    Switzerland  88.571429    89.0      7.0
792                         Turkey  88.088889    88.0     90.0
840                  United States  88.563720    88.0  54504.0
804                        Ukraine  84.071429    84.0     14.0
858                        Uruguay  86.752294    87.0    109.0